/* Base del cuerpo */
body {
    font-family: 'Open Sans', sans-serif;
    color: #CC9C53;
    background: linear-gradient(to bottom, #000, #2e2e2e);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #f5f5f5;
}

/* Contenedor principal */
.container {
    width: 85%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* Cabecera */
.header {
    grid-column: span 2;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

.header-img {
    width: 150px;
    cursor: pointer;
}

/* Perfil del usuario */
.profile {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-info h2 {
    font-size: 1.8em;
    margin: 0;
}

.profile-info p {
    margin: 5px 0;
}

.profile-info a {
    color: #00bfff;
    text-decoration: none;
}

/* Seguimiento de progreso */
.progress-tracking {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    align-self: start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Secciones de contenido: Objetivos, noticias, etc. */
.objectives, .recent-games, .news, .meta-info {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Partidas recientes */
.recent-game {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recent-game.green {
    background-color: #28a745;
}

.recent-game.red {
    background-color: #dc3545;
}

.recent-game img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Contenedor de campeones en el meta */
.meta-champion-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}

/* Elemento de cada campeón en el meta */
.meta-champion-element {
    text-align: center;
    width: 60px;
}

.meta-champion-name {
    margin: 5px 0;
    font-size: 0.8em;
}

.meta-champion-image {
    width: 60px;
    border-radius: 50%; /* Hacer que la imagen sea circular */
    object-fit: cover; /* Asegura que la imagen se recorte bien */
    transform: scale(1.1); /* Aplicar zoom para ocultar el borde oscuro */
    overflow: hidden; /* Ocultar el contenido que se salga del círculo */
}

.meta-wr-badge {
    background-color: darkgreen;
    color: white;
    padding: 2px 4px;
    border-radius: 10px;
    font-size: 0.7em;
    margin-top: 5px;
    display: inline-block;
}

/* Pie de página */
.footer {
    text-align: center;
    font-size: 0.8em;
    color: #ccc;
    width: 100%;
    clear: both;
    position: static;
    bottom: 20px;
    display: block;
}