body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 12px;
color: aquamarine;
background-color: black;
}

header{
    font-size: 24px;
    background-color: darkgrey;

}

article{
    font-size: 16px;
    background-color: grey;

}

footer{
    font-size: 80px;
    color: white;
    background-color: black;

}